<!-- サイト -->
<div class="pt-5 text-center">

 	<h3>FictitiousCircleとは、架空のサークルのこと</h3><br>

 	<% if user_signed_in? %>
		<h2>いってらっしゃい</h2>
		<h1>
			<%= link_to "学校へ向かう", users_anime_top_path, :style=>"color:yellow;" %>
		</h1><br><br>

		<p>このサイトは、アニメ作中で描かれる部活動を投稿し<br>
		   ユーザー同士でアニメの情報サイトとして作り上げていくものです。<br><br>
		   一覧を押すとアニメ一覧、部活名を押すと、詳細ページに飛べるよ。
		</p>

	<% else %>
		<h2>学校へようこそ!! あなたのお気にりの部活動を探してみよう。</h2>
		<h1>
			<%= link_to "のぞいてみる", users_anime_top_path, :style=>"color:yellow;" %>
		</h1><br><br>

		<p>このサイトは、アニメ作中で描かれる部活動を投稿し<br>
		   ユーザー同士でアニメの情報サイトとして作り上げていくものです。<br><br>
		   一覧を押すとアニメ一覧、部活名を押すと、詳細ページに飛べるよ。
		</p>
	<% end %>

</div>